<div class="container">
    <div class="row">
        <form>
            <div class="col-md-6 col-sm-12">
                <div class="row text-center">
                    <div>
                        <h1 class="">Product Name <small>(New)</small></h1>
                    </div>

                </div>

                <div class="row form-group">
                    <div class="col-md-12">
                        <label for="ProductId" name="ProductId">Product Id :</label>
                        <label for="" name="ProductId">123432</label>
                    </div>

                </div>
                <div class="row form-group">
                    <div class="col-md-3"> <label for="ProductName">Product Name :</label> </div>
                    <div class="col-md-9"><input type="text" name="ProductName" class="form-control" id=""></div>
                </div>
                <div class="row form-group">
                    <div class="col-md-5"> <label for="ProductDescription">Product Description :</label> </div>
                    <div class="col-md-12"><textarea name="ProductDescription" id="" class="form-control"></textarea></div>
                </div>
            </div>

            <div class="col-md-6 col-sm-12" style="margin-top:5em">
                <div class="row form-group">
                    <div class="col-md-3"> <label for="ImageAlt">Image Alt :</label> </div>
                    <div class="col-md-9"><input type="text" name="ImageAlt" class="form-control" id=""></div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="row form-group">
                    <div class="col-md-2"> <label for="ImageDescription">Image Description :</label> </div>
                    <div class="col-md-10"><input type="text" name="ImageDescription" class="form-control" id=""></div>
                </div>
                <div class="row form-group">
                    <div class="col-md-2"> <label for="NavigateUrl">Navigate Url :</label> </div>
                    <div class="col-md-10"><input type="text" name="NavigateUrl" class="form-control" id=""></div>
                </div>

                <div class="row form-group">


                    <!-- <div class="col-md-6 form-group"> -->
                    <div class="col-md-2"> <label for="Advertizer">Advertizer :</label> </div>
                    <div class="col-md-5"><input type="text" name="Advertizer" class="form-control" id=""></div>

                    <!-- <div class="col-md-6 form-group"> -->
                    <div class="col-md-1"> <label for="Price">Price :</label> </div>
                    <div class="col-md-4"><input type="text" name="Price" class="form-control" id=""></div>
                </div>
            </div>
            <div class="col-md-12 form-group">
                <a href="" >Back to previous page</a>
            </div>
            <div class="col-md-12 ">
                <div class="col-md-1 form-group">
                        <button class="form-control col-md-12 btn btn-primary" > Save</button>    
                </div>
                <div class="col-md-1 form-group">
                        <button class="form-control col-md-12 btn btn-success" > Edit</button>    
                </div>
                <div class="col-md-1 form-group">
                        <button class="form-control col-md-12 btn btn-danger" > Delete</button>    
                </div>
                <div class="col-md-1 col-md-offset-8 form-group">
                        <button class="form-control col-md-12 btn btn-default" > Cancel</button>    
                </div>
                
            </div>
        </form>
    </div>
</div>