<div class="row row-content-tall">
    <div class="col-xs-12 col-sm-push-3 col-sm-6 col-sm-pull-3">
        <h3>
            Affiliate Disclosure
        </h3>
        <div>
            <p>Disclosure: The following is based on the FTC Disclosure Guidelines of December, 2009 and May 2000</p>
            This is an affiliate marketing website. What does it mean for you? What does it mean to you:

            <ul>
                <li>Most of the links on our side will take you to a retailer website.</li>
                <li>If you will make a purchase from the respective retailer site, we will receive a commission from that purchase.</li>
                <li>The products listed on the website are accompanied by a description provided by the retailer. In some cases we will present our opinion, description or review. We will always be sincere on our reviews but our intention is to directing
                    you to the retailer site</li>
            </ul>
        </div>
    </div>
</div>