<header class="jumbotron">

    <!-- Main component for a primary marketing message or call to action -->

    <div class="container">
        <div class="row row-header">
            <div class="col-xs-12 col-sm-5 col-sm-7-pull">
                <div class="header-panel">
                    <h1>Nutrients Shopping</h1>
                    <p>Your Source of information for vitamins, mineral, nutritions characteristics, supplements, natural products
                        and other nutrients components</p>
                </div>
            </div>
        </div>
        <!-- <div class="row row-header">
                <div class="col-xs-12 col-md-5 col-md-push-7 hidden-xs">
                        <img src="images/Parsley-and-Herbs.jpg" class="img-responsive header-image">
                    </div>        
        </div> -->
</header>
<div class="row">
    <div class="col-xs-8 col-xs-push-2">
        <div class="affiliateDisclosure">
            <strong>Disclosure:</strong> This is an affiliate website and we may earn comission when you click on some of
            the links. More info on the <a ui-sref="app.affiliateDisclosure">Disclosure Page</a>
        </div>
    </div>
</div>