<div class="container">
	<div class="row row-content-tall">
		<div class="col-xs-12 col-med-push-3 col-med-6">
			<section>
				<div class="well">
					<p>Welcome to to the Nutrients Shopping Website!</p>
					<p>Our site is to created with the purpuse of helping our internet users to identify, compare and get informed and ultimatelly
						make the best decision when shopping for nutrients products</p>
					<p>The products presented on the Nutrients Shopping website will link you to many vendors websites which will give you
						a broad spetrum of nutrients and nutrition products</p>
					<p>The website is organized on categories, which you can access by the navigation menu located on the top of the page.
						Also a search option is provided, which will help you find products by their name or product description</p>
				</div>
			</section>
			<section>
				<div class="well">
					Here are few of the categories that you will find on the Nutrients Shopping website
					<h2>Nutrients by Affection</h2>
					<ul>
						<li><a ui-sref="app.nutrients({categoryName:'Aches and Pain',page:1, pageSize: 10})">Nutrients for Aches and Pain</a></li>
						<li>
							<a ui-sref="app.nutrients({categoryName:'Acne',page:1, pageSize: 10})">Acne<a/>
								</li>
								<li>
										<a ui-sref="app.nutrients({categoryName:'Allergy &amp; Sinus',page:1, pageSize: 10})">Allergy and Sinus<a/>
								</li>
								<li>
										<a ui-sref="app.nutrients({categoryName:'Arthritis',page:1, pageSize: 10})">Arthritis
												<a/>
								</li>
								<li>
										<a ui-sref="app.nutrients({categoryName:'joints',page:1, pageSize: 10})">Joints
											<a/>
									</li>
									<li>
											<a ui-sref="app.nutrients({categoryName:'Nervous System',page:1, pageSize: 10})">Nervous System
													<a/>
									</li>
						</ul>
						<h2>Supplements</h2>
						<ul>
								<li>
										<a ui-sref="app.nutrients({categoryName:'Aminoacids',page:1, pageSize: 10})">Aminoacids
												<a/>
								</li>
								<li>
										<a ui-sref="app.nutrients({categoryName:'Antioxidants',page:1, pageSize: 10})">Antioxidants
												<a/>
								</li>
								<li>
										<a ui-sref="app.nutrients({categoryName:'Joints',page:1, pageSize: 10})">Bones, Joints and Muscles
												<a/>
								</li>
								<li>
										<a ui-sref="app.nutrients({categoryName:'Fibers',page:1, pageSize: 10})">Fibers
												<a/>
								</li>
								<li>
										<a ui-sref="app.nutrients({categoryName:'50+',page:1, pageSize: 10})">50+
												<a/>
								</li>
								<li>
										<a ui-sref="app.nutrients({categoryName:'Men Health',page:1, pageSize: 10})">Man's Health
												<a/>
								</li>
							</ul>
							<h2><a ui-sref="app.nutrients({categoryName:'Fibers',page:1, pageSize: 10})">Fibers</a></h2>
							<ul>
								<li>
									<a ui-sref="app.nutrients({categoryName:'barley',page:1, pageSize: 10})">Barley
													<a/>
									</li>
							</ul>				
						</div>

				</div>
			</section>
		</div>
	</div>