<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <ul class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li class="active">About Us</li>
            </ul>
        </div>
        <div class="col-xs-12">
            <h3>About Us</h3>
            <hr>
        </div>
    </div>

    <div class="row row-content">
        <div class="col-xs-12">
            <div class="well">
                <p>Nutrients Shopping is an affiliate marketing website promoting mainly products related to nutrition and nutrients.
                </p>
                <p>In today's busy live, nutrients shopping wants to be a tool in the hands of the internet citizen searching
                    for products which can improve health and promote wellbeing </p>
                <p>Nutrients shopping is not necessary providing information on health or nutrition issues but rather brings
                    to you thousands of products from huntrends of retailers in one single place. That will give you the
                    opportunity to view and compare prices from different merchants.</p>
                <h4>About the software</h4>
                <p>Nutrients Shopping is a built on a software created specifically for managing and presenting products form
                    many vendors. The software is a created by the engineers at <a href="http://www.mialco.com" target="_blank">Mialco, LLC</a>,
                    and being based on Mirosoft technologies as well on modern Open Source software. The software is available
                    for sale to the entrpreneures, interseted in cratein simillar websites in a specific niche. Please visit
                    <a href="http://www.mialco.com" target="_blank">Mialco, LLC</a> to learn mode details about this software
                    </p>
                <p></p>
            </div>

            <!-- <div class="well">
                    <blockquote>
                        <p>We increased our revenue from marketing ads with 20%</p>
                        <footer>Joe Firucci,
                        <cite title="Marketing results">Our time to market is great with AMCOMAN. Besides we have seen significant increase of the revenue since we use AMCOMAN</cite></footer>
                    </blockquote>
                </div> -->

        </div>
        <!--    <div class="col-xs-12 col-sm-4">
            < 
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Facts At a Glance</h3>
                    </div>
                    <div class="panel-body">
                        <dl class="dl-horizontal">
                            <dt>Started</dt>
                            <dd>June 2011</dd>
                            <dt>Updated Search Engine</dt>
                            <dd>July 2013</dd>
                            <dt> </dt>
                            <dd>12</dd>
                            <dt>Total Links Handled  </dt>
                            <dd>12,000,000</dd>
                       </dl>
                    </div>
                </div>
        </div> -->
    </div>
</div>