
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
               <ul class="breadcrumb">
                   <li><a href="index.html">Home</a></li>
                   <li class="active">About Us</li>
               </ul>
            </div>
            <div class="col-xs-12">
               <h3>About Us</h3>
               <hr>
            </div>
        </div>
        
        <div class="row row-content">
            <div class="col-xs-12 col-sm-8">
                <h2>Our History</h2>
                <p>Started in 2016, AMCOMAN  provides automation to the inetrnet marketers. With AMCOMAN you can manage the resources of the marketing publishers </p>
				<h2>About the software</h2>
				<p>AMCOMAN is 100% web based. you will never need to download any software on your computer</p>
				<p>AMCOMAN can be accessed from anywhere using a web browser</p>
                <div class="well">
                    <blockquote>
                        <p>We increased our revenue from marketing ads with 20%</p>
                        <footer>Joe Firucci,  
                        <cite title="Marketing results">Our time to market is great with AMCOMAN. Besides we have seen significant increase of the revenue since we use AMCOMAN</cite></footer>
                    </blockquote>                
                </div>

            </div>
            <div class="col-xs-12 col-sm-4">

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Facts At a Glance</h3>
                    </div>
                    <div class="panel-body">
                        <dl class="dl-horizontal">
                            <dt>Started</dt>
                            <dd>June 13th 2016</dd>
                            <dt>First Marketing Company to use AMCOMAN</dt>
                            <dd>Spread The News</dd>
                            <dt>Total Active Clients  </dt>
                            <dd>12</dd>
                            <dt>Total Links Handled  </dt>
                            <dd>12,000,000</dd>
                       </dl>
                    </div>
                </div>
            </div>
        </div>


        <div class="row row-content">
            <div class="col-xs-12 col-sm-9">
                <h2>Corporate Leadership</h2>
               <ul class="media-list">
                <li class="media" ng-repeat="leader in leaders">
                    <div class="media-left media-middle">
                        <a>
                        <img class="media-object img-thumbnail"
                        ng-src={{leader.image}} alt="Peter Pan">
                        </a>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">{{leader.name}}
                        <small>{{leader.designation}}</small></h3>
                        <p>{{leader.description}}</p>
                    </div>
                </li>
            </ul>

            </div>
             <div class="col-xs-12 col-sm-3">
                <p style="padding:20px;"></p>
            </div>
       </div>
        <div class="row row-content">
            <div class="col-xs-12 col-sm-9">
                <h2>Facts &amp; Figures</h2>
                <div class="table-responsive">
                <table class="table table-striped">
                    <tr>
                        <td>
                            &nbsp;
                        </td>
                        <th>
                            2013
                        </th>
                        <th>
                            2014
                        </th>
                        <th>
                            2015
                        </th>
                    </tr>
                    <tr>
                        <th>
                            Employees
                        </th>
                        <td>
                            2
                        </td>
                        <td>
                            3
                        </td>
                        <td>
                            10
                        </td>
                    
                    </tr>
                    <tr>
                        <th>
                            Links Served
                        </th>
                        <td>
                            5000    
                        </td>
                        <td>
                            7,000,000        
                        </td>
                        <td>
                            12,000,000
                        </td>
                    
                    </tr>
                </table>
                </div>
            </div>
             <div class="col-xs-12 col-sm-3">
                <p style="padding:20px;"></p>
            </div>
       </div> 
    </div>
