
<div class="container">
    <div class="row" ng-show="showProcessMessage">
        <div class="col-xl-12 process-message">
            {{processMessage}}
        </div>
    </div>
    <div class="row">
        <!--This page can be invoked used by either Entites page or Organization page
            For This reason we are mintaining 2 sets of breadcrumbs
             -->
        <div class="col-xs-12" ng-show="showOrgBreadcrumbs">
            <ul class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li>Admin</li>
                <li> <a ui-sref="app.orgs">Organizations</a></li>
                <li> <a ui-sref="app.orgDetails({orgId: orgId})">Organization Details</a></li>
                <li class="active">Entity Details</li>
            </ul>
        </div>
        <div class="col-xs-12" ng-show="!showOrgBreadcrumbs">
            <ul class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li>Admin</li>
                <li> <a ui-sref="app.entities()">Entities</a></li>
                <li class="active">Entity Details</li>
            </ul>
        </div>
        <div class="col-xs-12">
            <h3>Entity Details</h3>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-push-2 col-md-6 col-md-pull-4 " ng-hide="addNewFormIsVisible">
            <form ng-submit="">
                <div class="form-group">
                    <label  for="entname">Entity name </label>
                    <input type="text" class="form-control input-sm" id="entname" placeholder="Entity Name" ng-model="ent.name" disabled>
                </div>
                <div class="form-group">
                    <label  for="enturl">Contact Name </label>
                    <input type="text" class="form-control input-sm" id="enturl" placeholder="Entity Url" ng-model="ent.url" disabled>
                </div>
                <div class="form-group">
                    <label  for="entdesc">Contact Email </label>
                    <input type="text" class="form-control input-sm" id="entdesc" placeholder="Contact Email" ng-model="ent.description" disabled>
                </div>
            </form>
        </div>
        <div class="col-xs-12 col-md-push-2 col-md-6 col-md-pull-4" ng-show="addNewFormIsVisible">
            <form ng-submit="saveEntity()">
                <div class="form-group">
                    <label  for="entname1">Entity name </label>
                    <input type="text" class="form-control input-sm" id="entname1" placeholder="Entity Name" ng-model="newEnt.name">
                </div>
                <div class="form-group">
                    <label  for="enturl1">Contact Name </label>
                    <input type="text" class="form-control input-sm" id="enturl1" placeholder="Entity Url" ng-model="newEnt.url">
                </div>
                <div class="form-group">
                    <label  for="entdesc1">Contact Email </label>
                    <input type="text" class="form-control input-sm" id="entdesc1" placeholder="Contact Email" ng-model="newEnt.description">
                </div>
                <button type="submit" class="btn btn-info btn-sm">Save</button>
                <button type="button" class="btn btn-default btn-sm" ng-click=cancelAddNew()>Cancel</button>
            </form>
        </div>
        <div class="col-md-4">

        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-push-2 col-md-6 col-md-pull-4">
            <div class="btn-group">
                <input type="button" class="btn btn-warning" value="Add new entity" ng-click="showAddNewForm(true, false)" ng-hide="addNewFormIsVisible">
                <input type="button" class="btn btn-primary" value="Edit" ng-click="showAddNewForm(true, true)" ng-hide="addNewFormIsVisible">
                <input ng-show="showOrgBreadcrumbs && !addNewFormIsVisible" type="button" class="btn btn-link" ui-sref="app.orgDetails({orgId: orgId})" value="Back">
                <input ng-hide="showOrgBreadcrumbs && addNewFormIsVisible" type="button" class="btn btn-link" ui-sref="app.entities" value="Back">
            </div>
        </div>
    </div>
</div>
