
    <div class="container">
		<div  class="row row-content-tall">
			<div class="col-xs-12 col-med-push-3 col-med-6">
				<div><strong>How is it working</strong></div>
				<ul>
					<li>If you are a new user, create an account by clicking on "Register" on the top of the page</li>
					<li>Create a new company</li>
					<li>Add new entities (websites) that you manage</li>
					<li>Add new articles (links that you will publish on your company website)</li>
				</ul>
			</div>
		</div>
    </div>
