<div class="container">
    <div class="row  <row-content>  </row-content>">
        <div class="col-xs-12">
            Nutrients Dynamic Page {{pageName}}
        </div>
    </div>
  <product-list products="gridData" ></product-list>
<ul class="pager">
    <li><a href="{{pagerData.firstPageLink}}">First</a></li>
  <li><a href="{{pagerData.previousPageLink}}">Previous</a></li>
    <li><span>Page {{pagerData.currentPage}} of  {{pagerData.totalPages}}</span></li>
    <li><a href="{{pagerData.nextPageLink}}">Next</a></li>
    <li><a href="{{pagerData.lastPageLink}}">Last</a></li>

</ul>

</div>