<div class="disclosure-container">
    <h1 class="pageHeader">
        Privacy Policy
    </h1>
    <p>
        The last update to our Privacy Policy was posted on January 5, 2012.&nbsp; This Privacy governs the privacy policy of our
        Website, <a href="http://www.nutrients-shopping.com/">
                www.nutrients-shopping.com</a>.</p>
    <h2>
        <u>Definitions</u>
    </h2>
    <p>
        &quot;Non-Personal Information&quot; (NPI) is information that is in no way personally identifiable and that is obtained
        automatically when you access our Website with a web browser.</p>
    <p>
        &quot;Personally Identifiable Information&quot; (PII) is non-public information that is personally identifiable to you and
        obtained for us to provide you with a product or service.&nbsp; PII may include information such as your name, address,
        phone number, and other related information that you provide to us.
    </p>
    <h3>
        Our Commitment to Your Privacy</h3>
    <p>
        Our Privacy Policy tells you what PII we may collect from you, how we may share your PII, and how you can limit our sharing
        of your PII.</p>
    <p>
        This website is owned by Mialco, LLC. You can contact us by visiting our website
        <a href="http://www.mialco.com/contact.aspx" target="_blank">Contact Page</a></p>
    <p>
        <span class="style2">Mialco, LLC</span> is committed to the security and privacy of all our customers.&nbsp; We take
        your privacy seriously, and we will work with you to ensure that you have an enjoyable online experience.</p>
    <p>
        <span class="style2">Mialco, LLC</span> and its affiliates respect your privacy and recognize the need for appropriate
        protection and management of your PII you share with us.</p>
    <p>
        &nbsp;As a part of our commitment, we have adopted the guidelines used by the Direct Marketing Association Privacy Promise
        to American consumers.&nbsp; Other than as necessary to provide you with goods and services, we agree to (1) provide
        our customers with notice of their ability to opt out of information exchanges with our affiliates; (2) honor our
        customers&#8217; requests not to have their information transferred to our affiliates; and (3) honor our customers&#8217;
        requests not to receive solicitations from our affiliates.</p>
    <h3>
        Links to Other Websites</h3>
    <p>
        Our Website may contain links to other websites.&nbsp; You understand that these websites are not under our control and are
        not subject to our Privacy Policy.&nbsp; These websites will likely have their own privacy policies.&nbsp; We have
        no responsibility for these websites and provide links to these websites solely for your convenience.&nbsp;
        <br />
        <br /> You acknowledge that your use and access of these websites is solely at your own risk.&nbsp; It is your responsibility
        to check the privacy policies of these websites to see how they treat your personal information.
    </p>
    <h3>
        Information We Collect</h3>
    <p>
        You can visit our Website without providing or revealing PII.&nbsp; However, we may receive and store certain types of NPI
        when you interact with our Website.&nbsp; We may analyze NPI for trends and statistics as to how people use our Website.&nbsp;
        Unless you wish to acquire goods or services through our Website, we typically will not require you to provide PII.</p>
    <p>
        We receive and store PII that you provide to us when you place an order, register with us, send an email or call us, enter
        a contest, subscribe to a service, request to receive a catalog or brochure, or participate in a promotion.&nbsp;
        In addition to your PII, we may also collect PII that you submit to us about other people, such as the name and address
        of someone you are referring to us.&nbsp; Ultimately, you have the choice in deciding whether or not to provide PII
        to us.</p>
    <h3>
        How Information is Used</h3>
    <p>
        We use PII that you provide for our internal purposes, such as confirming and tracking your order, subscription or registration;
        analyzing statistics and demographics; and informing you of new products, services, and offers as provided by us
        and/or our affiliates.</p>
    <p>
        We will not share or sell the PII we have for you to contact.</p>
    <p>
        To give you the best possible service, we may use our affiliates to provide contracted services for our business, including,
        but not limited to processing credit cards, hosting our website, shipping products to you, or advertising.&nbsp;
        In many cases, we will need to provide some if not all the PII you provide to use so our affiliates can perform these
        services.&nbsp; Our affiliates are only authorized to use your PII as provided within this Privacy Policy.</p>
    <p>
        There are times that we may have to disclose your PII to comply with state and federal laws; to assist law enforcement and
        governmental agencies in preventing or investigating fraud or other crimes, or in response to a court order.&nbsp;
        In such instances, we will only provide the PII requested and your PII will only be used for legal purposes as opposed
        to marketing.</p>
    <p>
        Finally, if we sold or transferred our business, we would transfer your PII to the purchaser as appropriate and might also
        retain a copy of your PII for any new business ventures we would start.</p>
    <h3>
        Changing Your Information</h3>
    <p>
        You may change your PII at any time using facilities found on our Website.&nbsp; If you need assistance with updating your
        PII or removing yourself from our mailing lists, just send us an email with your request.</p>
    <h3>
        Opting Out of Sharing Information</h3>
    <p>
        You can always opt out of future unaffiliated third-party disclosures of your information.&nbsp; Such opt-out will not affect
        disclosures otherwise permitted by law including but not limited to: (i) disclosures to affiliates, (ii) disclosures
        to third-party service providers who provide certain services for our business, such as credit card processing, computer
        system services, shipping, data management, or promotional services, (iii) disclosures to third parties as necessary
        to fulfill your requests, (iv) disclosures to governmental agencies or law enforcement departments or otherwise required
        to be made under applicable law, (v) previously completed disclosures to third parties, or (vi) disclosures to third
        parties in connection with subsequent contests or promotions you may choose to enter, or third-party offers you may
        choose to accept.</p>
    <h3>
        Protecting Your Child&rsquo;s Privacy</h3>
    <p>
        We follow the Children&rsquo;s Online Privacy Protection Act (COPPA).&nbsp; Even though our Website is not designed for use
        by anyone under the age of 18 (child), we realize that a child may attempt to access our Website.&nbsp; We do not
        knowingly collect PII from a child.&nbsp; If you are a parent or guardian and believe your child is using our Website,
        please contact us.&nbsp; We may ask for proof of identification before we remove any information to prevent malicious
        removal of account information.&nbsp; If we discover on our own that a child is accessing our Website, we will delete
        the information as soon as we discover it, we will not use the information for any purpose, and we will not disclose
        the information to third parties.&nbsp; You acknowledge that we do not verify the age of our users nor do we have
        any liability to do so.&nbsp; If you are a child, please seek the permission of a parent or guardian before accessing
        our Website.&nbsp;
    </p>
    <h3>
        Our Email Policy</h3>
    <p>
        Our affiliates and we fully comply with the federal CAN-SPAM Act.&nbsp; You can always opt out of receipt of further email
        correspondence from us or affiliates.&nbsp; We will not sell, rent, or trade your email address to any unaffiliated
        third-party without your permission.</p>
    <h3>
        Our Security Policy</h3>
    <p>
        We have taken steps to build our Website using sophisticated encryption and authentication tools to protect the security
        of your PII.&nbsp;&nbsp; When we collect your PII through our Website, we will encrypt your PII before it travels
        over the Internet using industry standards as establishing for conducting secure online transactions.&nbsp; We also
        use industry standard technologies such as secure routers and fire walls to make sure that your PII is safe.&nbsp;
        Unfortunately, we cannot fully guarantee secure data transmission over the Internet because of its nature.&nbsp;
        <br />
        <br /> Once we receive your PII, we have industry standard security measures in place to protect against the loss
        or misuse of your PII, though again, we cannot fully guarantee against such loss or misuse.&nbsp; We strongly urge
        you to protect any password you may have for our Website and not share it with anyone.&nbsp; You should always log
        out of our Website when you are done using it, especially if you are sharing a computer with someone else or are
        using a computer in a public place.</p>
    <h3>
        Use of Credit Cards</h3>
    <p>
        You may have to provide a credit card to buy products and services from our Website.&nbsp; We use third-party billing services
        and HAVE NO CONTROL over these services.&nbsp; We use our commercially reasonable efforts to make sure that your
        credit card number is kept STRICTLY CONFIDENTIAL by using only third-party billing services that use industry-standard
        encryption technology to protect your credit card number from unauthorized use.&nbsp; However, you understand and
        agree that we are in no way responsible for any misuse of your credit card number.
    </p>
    <h3>
        Cookies</h3>
    <p>
        Our Website may send a &quot;cookie&quot; to your computer.&nbsp; A cookie is a small piece of data that is sent to your
        browser from a web server and stored on your computer's hard drive.&nbsp; A cookie cannot read data off your hard
        disk or read cookie files created by other sites. Cookies do not damage your system.&nbsp; We use cookies to identify
        which areas of our site you have visited, so the next time you visit the site, we can better personalize the content
        that you see on our Website.&nbsp; Most browsers can be set to disable the use of Cookies.&nbsp; However, if you
        disable Cookies, you may not be able to use certain functionality on our Website correctly or at all.&nbsp; We never
        place PII in Cookies.</p>
    <h3>
        Web Beacons</h3>
    <p>
        We may also use web beacons to collect NPI about your use of our Website and those of our affiliates, and your use of special
        promotions or newsletters. The information we collect by Web Beacons allows us to statistically monitor the number
        of people that open our emails and why they opened our emails.&nbsp; Our Web Beacons are not used to track your activity
        outside of our Website or those of our affiliates.&nbsp; We do not link NPI from Web Beacons to PII without your
        permission.
    </p>
    <h3>
        Changes to Our Privacy Policy</h3>
    <p>
        As necessary to address changes in laws or our business practices, we may modify our Privacy Policy, in whole or in part,
        to address these changes.&nbsp; We will typically notify users by some message on our Website home page that our
        Privacy Policy has changed.&nbsp; We will also change the &quot;Last Updated&quot; date at the beginning of this
        Privacy Policy.&nbsp; Any changes we make to our Privacy Policy are effective as of this Last Updated date and replace
        any prior Privacy Policies.&nbsp; We encourage you to review our Privacy Policy periodically to make sure you still
        agree with it.</p>
    <h3>
        Questions about Our Privacy Policy</h3>
    <p>
        If you have any questions about our Privacy Policy, please contact us using the Contact us information found on our Website.</p>
    <p align="left">
        Copyright &copy; 2012 Website Legal Guard. All Rights Reserved. This document, or any portion of, may not be copied or duplicated
        in any way without the written permission of Website Legal Guard. http://www.WebsiteDisclaimerTemplate.com
    </p>
</div>