<div class="table-responsive nutrients-table">
    <table class="table">
        <thead>
            <tr>
                <td></td>
                <td>Product12</td>
                <td>Price</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="line in $ctrl.products">
                <td style="min-width:11em">
                    <product-image product="line">

                    </product-image>
                    
                </td>
                <td ng-bind-html="line.description"></td>
                <td>${{line.price}}</td>
            </tr>
        </tbody>
        <!-- <tfoot>
            <tr>
                <td>cdcdcdc</td>
                <td>
                    xcxvcxcv
                    </td>
                        <td>hghg</td>

            </tr>
        </tfoot> -->
    </table>

</div>
