<div class="container">
    <div class="row">
        <h1>Special Offers</h1>
        <div class="col-xs-12 col-lg-6 center-block offer-block">
            <a href="https://click.linksynergy.com/fs-bin/click?id=pSK2wtK8sX8&offerid=254194.2083&subid=0&type=4">
                <IMG border="0" alt="Tmart Express-Free & 4-Day Shipping" src="https://ad.linksynergy.com/fs-bin/show?id=pSK2wtK8sX8&bids=254194.2083&subid=0&type=4&gridnum=16">
            </a>
        </div>
        <div class="col-xs-12 col-lg-6 center-block offer-block">
            <a href="https://click.linksynergy.com/fs-bin/click?id=pSK2wtK8sX8&offerid=358111.10000709&type=4&subid=0">
                <IMG alt="Buy 100% Costa Rican Coffee plus FREE SHIPPING on 6 bags or more at Cafe Britt!" border="0" src="https://www.opmpros.com/host/cafebritt/images/banners/promo7_468x60.jpg">
            </a>
            <IMG border="0" width="1" height="1" src="https://ad.linksynergy.com/fs-bin/show?id=pSK2wtK8sX8&bids=358111.10000709&type=4&subid=0">
        </div>
        <div class="col-xs-12 col-lg-6 center-block offer-block">
            <a href="https://click.linksynergy.com/fs-bin/click?id=pSK2wtK8sX8&offerid=358111.10000695&type=4&subid=0">
                <IMG alt="Get your 100% Fair Trade Certified Coffee from Costa Rica at Cafebritt.com!" border="0" src="http://www.cafebritt.com/affiliates/2017/fair-trade/promo6_468x60.jpg">
            </a>
            <IMG border="0" width="1" height="1" src="https://ad.linksynergy.com/fs-bin/show?id=pSK2wtK8sX8&bids=358111.10000695&type=4&subid=0">
        </div>
        <div class="col-xs-12 col-lg-6 center-block offer-block" data-expire="2018-03-31">
            <a href="https://click.linksynergy.com/fs-bin/click?id=pSK2wtK8sX8&offerid=561498.10004928&type=3&subid=0">Spring Sale! Save up to 50% + Free Shipping $49+. Puritan's Pride Brand. See Details. No code necessary. Valid
                through 3/31</a>
            <IMG border=0 width=1 height=1 src="https://ad.linksynergy.com/fs-bin/show?id=pSK2wtK8sX8&bids=561498.10004928&type=3&subid=0">
        </div>
        <div class="col-xs-12 col-lg-6 center-block offer-block" data-expire="2018-03-31">
            <a href="https://click.linksynergy.com/fs-bin/click?id=pSK2wtK8sX8&offerid=561498.10004930&type=3&subid=0" >19% off Puritan's Pride Brand Items + Free Shipping on orders over $49 + Buy 1 Get 2 Free. Code: 19PP218 Valid 3/1-3/7</a><IMG border=0 width=1 height=1 src="https://ad.linksynergy.com/fs-bin/show?id=pSK2wtK8sX8&bids=561498.10004930&type=3&subid=0" >        
        </div>

        <div class="col-xs-12 col-lg-6 center-block offer-block" data-expire="2018-03-31">
            <a href="https://click.linksynergy.com/fs-bin/click?id=pSK2wtK8sX8&offerid=561498.10004931&type=3&subid=0" >Extra 16% off $50 + Free Shipping on orders over $49 Puritan's Pride Brand Items + Buy 1 Get 2 Free. Code: 16PP218 Valid 3/6-3/8</a><IMG border=0 width=1 height=1 src="https://ad.linksynergy.com/fs-bin/show?id=pSK2wtK8sX8&bids=561498.10004931&type=3&subid=0" >
        </div>

        <div class="col-xs-12 col-lg-6 center-block offer-block" data-expire="2018-03-31">
            <a href="https://click.linksynergy.com/fs-bin/click?id=pSK2wtK8sX8&offerid=561498.10004945&type=3&subid=0" >Shop Cherry & Cranberry - support urinary health for men and women. Also supports exercise recovery for training</a><IMG border=0 width=1 height=1 src="https://ad.linksynergy.com/fs-bin/show?id=pSK2wtK8sX8&bids=561498.10004945&type=3&subid=0" >
        </div>


        <div class="col-xs-12 col-lg-6 center-block offer-block" data-expire="2018-03-31">
            <a href="https://click.linksynergy.com/fs-bin/click?id=pSK2wtK8sX8&offerid=561498.10004946&type=3&subid=0" >Shop Garlic. Perfect to help support heart heath</a><IMG border=0 width=1 height=1 src="https://ad.linksynergy.com/fs-bin/show?id=pSK2wtK8sX8&bids=561498.10004946&type=3&subid=0" >
        </div>

        <div class="col-xs-12 col-lg-6 center-block offer-block" data-expire="2018-03-31">
            <a href="https://click.linksynergy.com/fs-bin/click?id=pSK2wtK8sX8&offerid=561498.10004947&type=3&subid=0" >Grapeseed Extract 100mg on sale for only $1.99!</a><IMG border=0 width=1 height=1 src="https://ad.linksynergy.com/fs-bin/show?id=pSK2wtK8sX8&bids=561498.10004947&type=3&subid=0" >
        </div>

        <div class="col-xs-12 col-lg-6 center-block offer-block" data-expire="2018-03-31">
            <a href="https://click.linksynergy.com/fs-bin/click?id=pSK2wtK8sX8&offerid=561498.10004932&type=3&subid=0" >Daylight Savings Sale! Save 15% Off Puritan's Pride Brand items. Plus Free Shipping on orders over $49 Code: DAYLGT8 Valid 3/9-3/13</a><IMG border=0 width=1 height=1 src="https://ad.linksynergy.com/fs-bin/show?id=pSK2wtK8sX8&bids=561498.10004932&type=3&subid=0" >
        </div>

        <div class="col-xs-12 col-lg-6 center-block offer-block" data-expire="2018-03-31">
            <a href="https://click.linksynergy.com/fs-bin/click?id=pSK2wtK8sX8&offerid=561498.10004933&type=3&subid=0" >March Madness! 18% off Puritan's Pride Brand Items. Plus Free Shipping on orders $49 or more. CODE: MARMAD8. Valid 3/10-3/15</a><IMG border=0 width=1 height=1 src="https://ad.linksynergy.com/fs-bin/show?id=pSK2wtK8sX8&bids=561498.10004933&type=3&subid=0" >
        </div>

        <div class="col-xs-12 col-lg-6 center-block offer-block">
        </div>


    </div>
</div>